.idea
node_modules/
built/
api-server/public/bundle.js
.vscode
cypress/screenshots/
cypress/videos/
test_reports
ansible/id_rsa_stash*
ansible/inventory
*.retry
env
grafana-signalk-plugins
e2e/dotsignalk/baseDeltas.json