# Hostname of production Signal K Stash host
SIGNALK_STASH_PROD_HOST ?= signalk-stash.example.org

# File in which the private SSH key for accessing production host is stored
SIGNALK_STASH_PROD_SSH_PRIVATE_KEY ?= ~/.ssh/id_rsa_signalk_stash

# Credentials with which the Signal K Stash' MQTT runner connects to
# the Stash' MQTT broker. These credentials are automatically inserted
# to PostgreSQL in production when mqtt-input is started.
SIGNALK_STASH_PROD_MQTT_RUNNER_USERNAME ?= mqtt-input
SIGNALK_STASH_PROD_MQTT_RUNNER_PASSWORD ?= signalk

# Credentials with which the Signal K Stash' clients can subscribe and
# read latest delta topics (signalk/delta/<vessel-id/latest/...)
# These credentials are automatically inserted to PostgreSQL in
# production when mqtt-input is started.
SIGNALK_STASH_PROD_MQTT_LATESTREADER_USERNAME ?= latest-reader
SIGNALK_STASH_PROD_MQTT_LATESTREADER_PASSWORD ?= signalk

# Password for Grafana admin account
SIGNALK_STASH_PROD_GRAFANA_PASSWORD ?= signalk

# Secret used to encrypt authentication cookies
SIGNALK_STASH_PROD_AUTH_SECRET ?= some-long-random-string

# Production API key for NLS (Maanmittauslaitos) maps
SIGNALK_STASH_PROD_NLSAPIKEY ?= replace-with-correct-key

# Development API key for NLS (Maanmittauslaitos) maps
SIGNALK_STASH_NLSAPIKEY ?= replace-with-correct-key