# Hostname of production Signal K Stash host
SIGNALK_STASH_PROD_HOST ?= signalk-stash.example.org

# File in which the private SSH key for accessing production host is stored
SIGNALK_STASH_PROD_SSH_PRIVATE_KEY ?= ~/.ssh/id_rsa_signalk_stash

# Username and password for prod Nginx basic auth authentication
# These credentials are used to access the Web UI of Signal K Stash
SIGNALK_STASH_PROD_NGINX_AUTH_USERNAME ?= signalk
SIGNALK_STASH_PROD_NGINX_AUTH_PASSWORD ?= signalk

# Credentials with which the Signal K Stash' MQTT runner connects to
# the Stash' MQTT broker. These credentials must be created in the
# prod Postgis database e.g by using bin/generate_account_inserts.sh
SIGNALK_STASH_PROD_MQTT_USERNAME ?= mqtt-input
SIGNALK_STASH_PROD_MQTT_PASSWORD ?= signalk