html,
body {
  height: 100%;
  margin: 0;
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .leaflet-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }
}

:root {
  --brightness: 100%;
  --contrast: 100%;
}

.visibility-adjusted {
  filter: brightness(var(--brightness)) contrast(var(--contrast));
}